/* Add CSS Styling */

.odd, .cooler{
    background-color: lightpink; font-family: verdana, "DejaVu Sans", sans-serif;
}
.cooler{
    font-size: 24px;
}
#bluey{
    font-size: 36px;color: blue;
}
#greeny{
    background-color: lightgreen; font-size: 24px; font-weight: bold;
}