body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 15px auto;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background: #e3f4ff;
}

.content {
  margin-top: 5px;
  padding: 5px;
  background: #e3f4ff;
}

.button-container {
  display: block;
  text-align: center;
  margin-top: 5px;
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}